<!DOCTYPE html>
<html>
<head>
	<title>[Title]</title>
	<link href="../../styles/style.css" rel="stylesheet" type="text/css" />
  <script src="../../javascript/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../../javascript/page_script.js"></script>
</head>
<body>
<div id="header">
<div class="main_title">[Title]</div>
</div>

<h2>Aim</h2><hr/>


<h2>Results</h2><hr/>


<h2>Method</h2><hr/>
<div class="code">
<a href="../code/[code_name]">[code_name]</a>
</div>

</body>
</html>
